.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  box-sizing: border-box;
  grid-template-areas:
    "title title"
    "priceEv presence"
    "tabl tabl";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 55px 400px 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f0f6ff;
}

.priceEv {
  grid-area: priceEv;
}

.presence {
  grid-area: presence;
}

.tabl {
  grid-area: tabl;
  padding-top: 20px;
  margin-top: 20px;
}

.title {
  grid-area: title;
}
