.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.content {
  display: grid;
  box-sizing: border-box;
  grid-template-areas:
    "title title"
    "priceEv presence"
    "tabl tabl";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 55px 400px 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f0f6ff;
}

.priceEv {
  grid-area: priceEv;
}

.presence {
  grid-area: presence;
}

.tabl {
  grid-area: tabl;
  padding-top: 20px;
  margin-top: 20px;
  overflow-x: scroll;
}

.title {
  grid-area: title;
}

@media (max-width: 1030px) {
  .container {
    font-size: 14px;
  }
  .content {
    grid-template-areas:
      "title"
      "priceEv"
      "presence"
      "tabl";
    grid-template-columns: 1fr;
    grid-template-rows: 55px 450px 450px 1fr;
  }
  .priceEv {
    margin-bottom: 20px;
  }
}

@media (max-width: 620px) {
  .container {
    font-size: 10px;
  }
  .content {
    grid-template-areas:
      "title"
      "priceEv"
      "presence"
      "tabl";
    grid-template-columns: 1fr;
    grid-template-rows: 55px 300px 450px 1fr;
  }
  .priceEv {
    margin-bottom: 20px;
  }
}
